* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
/build.properties -text svneol=unset#text/plain
/build.xml -text svneol=unset#text/plain
libs/commons-cli.jar -text
libs/commons-cli_LICENSE.txt -text svneol=unset#text/plain
libs/commons-cli_NOTICE.txt -text svneol=unset#text/plain
libs/logback-classic.jar -text
libs/logback-core.jar -text
libs/logback-core_LICENSE.txt -text svneol=unset#text/plain
libs/slf4j-api.jar -text
libs/slf4j-api_LICENSE.txt -text svneol=unset#text/plain
libs/xuggle-xuggler-5.4_LICENSE.html -text svneol=unset#text/plain
/plugin.xml -text svneol=unset#text/plain
src/de/or/xuggler/plugin/ConvertVideo.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/DecodeAndCaptureFrames.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/ImageComponent.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/SoundPlayer.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/VideoPanel.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/VideoPlayer.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/XugglerContainer.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/XugglerPlayer.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/XugglerPlugin.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/Gnome-audio-volume-high.svg -text
src/de/or/xuggler/plugin/icons/Gnome-audio-volume-low.svg -text
src/de/or/xuggler/plugin/icons/Gnome-audio-volume-medium.svg -text
src/de/or/xuggler/plugin/icons/Gnome-audio-volume-muted.svg -text
src/de/or/xuggler/plugin/icons/Gnome-camera-photo.svg -text
src/de/or/xuggler/plugin/icons/Gnome-media-playback-pause.svg -text
src/de/or/xuggler/plugin/icons/Gnome-media-playback-start.svg -text
src/de/or/xuggler/plugin/icons/Gnome-media-seek-backward.svg -text
src/de/or/xuggler/plugin/icons/Gnome-media-seek-forward.svg -text
src/de/or/xuggler/plugin/icons/GnomeAudioVolumeHighIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeAudioVolumeLowIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeAudioVolumeMediumIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeAudioVolumeMutedIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeCameraPhotoIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeMediaPlaybackPauseIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeMediaPlaybackStartIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeMediaSeekBackwardIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/GnomeMediaSeekForwardIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/icons/UbuntuStudio-Icons-Video_Production.svg -text
src/de/or/xuggler/plugin/icons/UbuntuStudioIconsVideoProductionIcon.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/tools/ExportDicomLoop.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/tools/ExportDicomLoopDialog.java -text svneol=unset#text/plain
src/de/or/xuggler/plugin/tools/ExportVideoFormat.java -text svneol=unset#text/plain
src/dicomPACSXugglerVersion.properties -text svneol=unset#text/plain
